<nav style="background-color: brown;">
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a style="color: white;" class="nav-link" href="{{ path ('app_login')}}">CONNEXION</a>
    </li>
    <li class="nav-item">
      <a style="color: white;" class="nav-link" href="{{ path ('app_register')}}">INSCRIPTION</a>
    </li>
  </ul>

</nav>